@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    background-color: #222;
}

body {
    padding-bottom: 2rem;
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}

#mouse:active, #dark-mode-toggle:active {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bright {
  background-color: #fff;
}

.change-theme-svg-bright {
  fill: #f5fffa;
}